@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.animate-special {
  animation: special 0.8s ease-in-out infinite;
}

@keyframes special {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}